# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Ll]ibrary/
[Oo]bj/
[Bb]uild/
**_Data/
*.exe
*.pdb

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.pidb
*.suo
/*.sln
*.user
*.unityproj
*.booproj